.wrapper {
  background-color: #c4c4c442;
}

.link {
  width: 100%;
  text-decoration: none;

  &:active,
  &:visited {
    color: #282c34;
  }
}

.menuItem {
  border: 1px solid black;
  margin: 5px 0;
}
